/* 
styling navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
}

.navbar-title {
  font-size: 25px;
  font-family: 'Bungee', sans-serif;

}

.navbar-content {
  font-size: 20px;

} 

.navbar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}