
.container {
  padding-top: calc(400px-120px);
  width: 90%; /*to set container width to 90% of its parent element */
  background-color: inherit; /*same color as body, inherits the color from body*/
  margin: 0 auto; /*to align the main container element in the center */
  

}

#tweets-container {
  margin: 20px 0;
  padding: 20px 0;
}


output {
  display: flex;
  justify-content: end;
}

.invalid-input {
  color: red;
}

#error {
  display: none;
  color: red; /*error displays in red */
  border: 1px solid red; /* border around the message */
  padding: 10px; /*adds space between border and content */
  font-weight: bold; /*uses bold font */
  background-color: aliceblue; /*background color for the box */
  
  
}

.tweet-form-textarea {
  background-color: #f4f1ec;
  outline: 0;
  border: none;
  border-bottom: 5px solid gray;
  width: 100%;
}

.tweet-button-container {
  display: flex;  
  justify-content: space-between;
   padding: 5px;
   align-items: center;
}



.submit-button {
  display: flex;
  border: none;
  color: #FFFFFF;
  font: bold;
  background-color: #4056A1;
  

}