@media screen and (min-width: 1024px) {
  /* Desktop styles go here */
  .responsive-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  
  }
 

  .container {
    padding-top: 150px;
  }
 
  
   
}