.tweet {
  border: solid 2px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0); */

}

.avatar-container {
  display: flex;
  align-items: center;
}

.profile-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add box shadow on hover */
.tweet:hover {
  cursor: pointer;
  background-color: #d8ddef;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid gray;
  padding: 5px;
  align-items: center;
}

.profile-pic {
  border-radius: 90px; /* shows the profile picture as a circular icon */
  padding: 10px;
}

.icon {
  color: #4056a1; /* Default icon color */
  text-decoration: none; /* Removes the underline below the numbers */
  margin-right: 10px; /* Adjust spacing between icon and text */
  display: inline-flex; /* makes the icons and text display in a line */
  align-items: center; /* Aligns both the icons and text vertically */
}

.icon:hover {
  color: gray; /* Change icon color on hover */
}

/* Style icon classes */
.icon i {
  margin-right: 5px; /* Adjust spacing between icon and text */
}

.icon i:hover {
  color: gray; /* Change icon color on hover */
}